@import url('https://fonts.googleapis.com/css2?family=Asap:ital@0;1&family=Noto+Sans&display=swap');
body{
    background-color: rgb(220, 235, 210);
}

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Asap', sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    height:  50px;
    background-color: black;
    color: aliceblue;
    align-items: center;
}
nav ul a{
    padding: 0px 13px;
    text-decoration: none;
    color: aquamarine;
}
.brand img{
    width: 39px; 
    padding: 0px 10px;
}
.brand{
    display: flex;
    align-items: center;

}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Asap', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 10px;
    padding: 34px;
    background-image: url('bg.webp');
    background-position: center;
    background-size: cover;
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.icons{
    margin-top: 15px;
}
.icons i{
    cursor: pointer;
}

#myprogressBar{
    width: 50vw;
    cursor: pointer;

}
.songItemContainer{
    margin-top: 64px;
}
.songItem{
    height: 44px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 33px;

}
.songItem img{
    width: 41px;
    margin: 0px 13px;
    border-radius: 33px;
}
.timestamp{
    margin: 0px 13px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 25vw;
    font-family: 'Asap', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}
/* for responsive */
@media only screen and (max-width:1300px) {
    .icons {
        margin-top: 39px;
    }
    #myprogressBar {
        width: 70vw;
        cursor: pointer;
    }
    .songInfo {
        position: absolute;
        left: 15vw;
        font-family: 'Asap', sans-serif;
    }
}