body{
    background-color:rgb(31, 30, 30);
}
h1{
    color: white;
    font-size: 7em;
}
h2{
    text-decoration: underline;
    color: white;
}
.over{
    text-decoration: line-through;
    color: red;
}
.out{
    width: 50%;
    height: 215px;
    background-color: yellow;
    color: white;
}
.in{
    width: 50%;
    height: 155px;
    background-color: red;
    color: white;
    box-shadow: -12px -20px 10px 2px green;
}